@model HotelApp.Models.LokacijaSobe

@{
    ViewBag.Title = "Izbriši";
}

<h2>Izbriši</h2>

<h3>Da li ste sigurni da želite izbrisati ovu lokaciju sobe?</h3>
<div>
    <h4>Lokacija sobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpratSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpratSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orijentacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orijentacija)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default boja" /> |
            <button type="button" class="btn btn-default boja" onclick="location.href='@Url.Action("Index", "LokacijaSobes")'">Vrati se nazad</button>
        </div>
    }
</div>

<style type="text/css">
    .boja{
        background-color: #B22222;
        color: white;
    }
</style>
