@model HotelApp.Models.Zaduzenja

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Zaduženja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VrstaZaduzenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrstaZaduzenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default bojaZaduzenja" onclick="location.href='@Url.Action("Index", "Zaduzenjas")'">Vrati se nazad</button>
</p>

<style type="text/css">
    .bojaZaduzenja {
        background-color: #B22222;
        color: white;
    }
</style>